.container{
    background-color: #b0e8f0;
    background-image: linear-gradient(62deg, #b0e8f0 0%, #229acd 100%);
    max-width:1000px;
    border-radius: 7px;
    margin:15px auto;
    text-align: center;
}
