

.single-square{
    border: 1px solid;
    width: 200px;
    min-width: 150px;
    height:220px;
    min-height: 150px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    opacity: 0.85;
    box-shadow: 8px 7px 12px -6px rgba(0,0,0,0.76);
    text-align: center;
}

