.flex{
display: flex;

}

.flex-direction{
    flex-direction: column
}

.align-items{
    align-items: center;
}

.single-square{
    border: 1px solid;
    width: 200px;
    min-width: 150px;
    border-radius: 10px;
    margin-left: 10px;
    /* width: -webkit-fill-available; */
    margin-bottom: 20px;
    opacity: 0.85;
}
.r{
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}