
.form-container{
    text-align: center;
    padding: 10px;
    width:45vw;
    margin: 0 auto;

}

input{
    padding:5px;
    padding-left: 40px;
    border:1px solid black;
    box-shadow: black;
    width:100%;
    /* border:none; */
}
button {
    border:1px solid black; 

}
.autocomplete {
    width:100%;
    border: 1 solid grey;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
    background-color: white;
    border: 1px solid;  
}
.autocomplete li { 
    list-style-type:none;
    text-align: left;
    cursor: pointer;
    transition-delay: 2s;
}


.suggest:hover  {
    background-color: lightgray;
    font-weight: bold;  
    
}   


@media only screen and (max-width: 650px) {
   input {
     width:70%
    } 
    .form-container{
    width:100vw;
    }
  }
