.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body{
  /* background-color: #87CEFA; */
  /* background-image:  url('./imgs/bgc1.jpg');
  height: 100vh;;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

}
