
body{
  background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );
  font-family: 'Muli', sans-serif;

}


.flex{
  display: flex;
}

.justify-content{
  justify-content: center;
}

.align-items{
  align-items: center;
}
.flex-direction{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}