.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body{
  background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );
  font-family: 'Muli', sans-serif;

}


.flex{
  display: flex;
}

.justify-content{
  justify-content: center;
}

.align-items{
  align-items: center;
}
.flex-direction{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}